* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #78dbe9;
  background-image: linear-gradient(to top, #29f10f, #78dbe9);
  font-family: "Archivo", sans-serif;
}

.header-wrapper {
  height: 20vh;
  min-height: 70px;
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.page-title {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
}

.search-wrapper {
  display: flex;
  flex: 0 1 30%;
  align-items: center;
}

.search-bar {
  background: #fffdfd;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 196.5px;
  padding: 0px 15px;
  border: none;
  flex: 0 1 100%;
  height: 50px;
}

.search-button {
  width: 30px;
  height: 30px;
  position: relative;
  right: 40px;
  margin-right: -40px;
  background: #fffdfd;
  border-radius: 50%;
  position: relative;
  background-image: url("img/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.search-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.search-button:active {
  cursor: pointer;
  transform: scale(0.95);
}

.forecast-container {
  background: rgba(0, 0, 0, 0.41);
  border-radius: 42px;
  text-align: center;
  flex: 0 1 95%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px 0;
}

.forecast-title {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  flex: 0 1 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date {
  color: white;
  font-weight: normal;
  font-size: 20px;
  padding: 5px 0 2px 0;
}

.cards-wrapper {
  display: flex;
  flex: 0 1 90%;
  justify-content: space-evenly;
  align-items: stretch;
}
.card-wrapper {
  flex: 0 1 17%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  background: #feffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  min-height: 100px;
}

.temp {
  position: relative;
  left: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}

.description {
  margin-top: 10px;
  font-size: 18px;
}

.weather-icon {
  width: 80%;
  margin: 20px 0;
}

.summary {
  color: #4a4a4a;
  font-weight: 500;
}

.hl {
  color: #878787;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .header-wrapper {
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
  }

  .main-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .page-title {
    font-size: 40px;
  }

  .search-wrapper {
    width: 80%;
  }

  .search-bar {
    height: 40px;
  }

  .forecast-container {
    background: rgba(0, 0, 0, 0.41);
    border-radius: 42px;
    text-align: center;
    flex: 0 1 95%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
  }

  .forecast-title {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    flex: 0 1 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
  }
  .card {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 15px;
    height: fit-content;
  }

  .temp {
    left: 0;
    flex: 0 1 10%;
  }

  .description {
    font-size: 14px;
    flex: 0 1 20%;

  }

  .weather-icon {
    padding: 5px;
    width: 20%;
    flex: 0 1 20%;
    margin: 15px 0;
  }

  .summary {
    font-size: 12px;
    flex: 0 1 45%;
  }

  .summary {
    color: #4a4a4a;
    font-weight: 500;
  }
  
  .hl {
    color: #878787;
  }
}
